#root {
  width: 100%;
}
#body {
  margin: 0;
}
.Appbar {
  width: 100%;
  padding: 0%;
}
.content {
  display: flex;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
.feed{
  background-color:rgb(49, 46, 46);
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
}
.feedfooter{
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0;
  color: white;
}
.feedfooterkarma{
  height: 35px;
  width: 35px;
  border: 2px solid white;
  color:white;
  border-radius: 100%;
  align-content: center;
  text-align: center;
}
.feed:hover{
  background-color: rgb(90, 86, 86);
}
.comment {
  --size: 2rem;
  display: flex;
  gap: 0.5rem;
}

.avatar {
  flex: 0 0 var(--size);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}


