#root {
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(58, 54, 54);
  color:white
}
#body {
  margin: 0;
  background-color:rgb(58, 54, 54);
}
.Appbar {
  width: 100%;
  padding: 0%;
}
.content {
  display: flex;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
.feed{
  background-color:rgb(49, 46, 46);
  color: white;
  border: 2px solid black;
  margin-top: 1px;
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: medium;
}
.feedfooter{
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0;
  color: white;
}
.feedfooterkarma{
  align-items: center;
  flex-direction: row;
  display: flex;
  padding: 0;
  color: white;
  border: 2px solid white;
  border: 2px solid white;
  color:white;
  border-radius: 30%;
  align-content: center;
  text-align: center;
}
.feed:hover{
  background-color: rgb(8, 8, 8);
}
.comment {
  --size: 2rem;
  display: flex;
  gap: 0.5rem;
}

.avatar {
  flex: 0 0 var(--size);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

.feedDesc {
   overflow: hidden;
   display: -webkit-box;
   white-space: pre-wrap;
   -webkit-line-clamp: 8; /* number of lines to show */
           line-clamp: 8; 
   -webkit-box-orient: vertical;
}
.postDesc {
  display: flexbox;
  padding: 1%;
  font-size: medium;
  white-space: pre-wrap;
}